/part1/anecdotes/node_modules
/part1/courseinfo/node_modules
/part1/unicafe/node_modules
/part2/phonebook/node_modules
/part2/courseinfo/node_modules
/part2/data-for-countries/node_modules
/part2/data-for-countries/.env
/part3/phonebook_backend/.env
/part3/phonebook_backend/node_modules
/part3/bloglist/node_modules
/part3/bloglist/.env
